/* CSS for website */
.book .book-body .page-wrapper .page-inner section.normal pre {
    background: #111;
    color: #0f0;
}


kbd {
    display: inline-block;
    color: rgb(0,0,0,0.8);
    font-size: 0.75em;
    line-height: 1.4;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 0.1em #fff inset;
    margin: -0.15em 0.15em 0 0.15em;
    padding: 0.2em 0.6em 0.2em 0.5em;
    vertical-align: middle;
    white-space: nowrap;
    box-sizing: border-box;

}

.admonitionblock {
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
    padding: 5px;
}

.admonitionblock table {
    background: transparent;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal table td p, .book .book-body .page-wrapper .page-inner section.normal table th p {
    margin: 0px;
}


.book .book-body .page-wrapper .page-inner section.normal table tr {
    background: transparent;
    border: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal table td, .book .book-body .page-wrapper .page-inner section.normal table th {
    border: 0px;
    vertical-align: middle;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}